@import "../abstract/variables";
@import "../abstract/mixins";

/* HERO */
/* COMIENZO DEL HERO*/ 
.hero{
    background-image: url('https://developer.playphone.com/App/Landing/img/main-slide-2.png');
    background-size: 100% ;
    height: 500px;
    h1 {
        margin: 0;
      }
    .contenidohero {
        height: 236px;
        text-align: left;
        margin-left: 141px;
        margin-top: 39px;
        padding-left: 100px;
        width: 500px;
       }
    .titulohero {
        @include font (2.125em, normal, Arial);
        color: $color-blanco;
        /* font-size: 2.125em;
        font-weight: normal;
        font-family: Arial; */
        display: block;
        padding-top: 80px; 
        }
    .parrafohero {
        @include font (1.1em, normal, Arial);
        color: $color-blanco;
        padding-bottom: 110px;
        }
    .botonhero {
        @include font (.95em, normal, Arial);
        background: $color-naranja;
        border-color: $color-naranja;
        border-width: .14em;
        border-radius: 2em;       
        border: 0.125em solid $color-naranja;
        color: $color-blanco;
        cursor: pointer;
        display: inline-block;
        line-height: normal;
        padding: 0.75em 1.4em;
        transition: background 0.4s, color 0.4s, border-color 0.4s;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .botonhero:hover{
        color:  $color-naranja; 
        background: unset;
    }
  }

  /* FINAL DEL HERO */